
.env
.env.*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

uploads/
errors_logs.txt
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


*.log
*.tmp
*.swp
dist/
build/
coverage/
scripts/dev/
tests/